.saint{
    text-align: center;
    margin-top: 50px;
}

.descsa{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.fogu{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.carnival{
    text-align: center;
    margin-top: 50px;
}

.desccar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.osincu{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.sartiglia{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.sartiglia1{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.mamutzones{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.holy{
    text-align: center;
    margin-top: 50px;
}

.descho{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.chida{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 550px;
}
.ardia{
    text-align: center;
    margin-top: 50px;
}

.desca{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.sedilo{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.regata{
    text-align: center;
    margin-top: 50px;
}

.descre{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.fassonis{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.mary{
    text-align: center;
    margin-top: 50px;
}

.descmary{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.maria{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.sarti{
    text-align: center;
    margin-top: 50px;
}

.descsar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.sartigliedda{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.santu{
    text-align: center;
    margin-top: 50px;
}

.descsantu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.parco{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.santusalvatore{
    text-align: center;
    margin-top: 50px;
}

.descsantusalvatore{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.corsa{
    position: relative;
    max-width: 500px;
    max-height: 400px;
    margin-left: 600px;
}
.remedy{
    text-align: center;
    margin-top: 50px;
}

.descremedy{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.bonacatu{
    text-align: center;
    margin-top: 50px;
}

.descbonacatu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}
.fest{
    text-align: center;
    margin-top: 50px;
}

.descfest{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    margin-top: 50px;
    border: dotted;
}